.userWrap{
	/* position: absolute;
		top: 10px;
		right: 10px; */
	display: flex;
		justify-content: center;
		align-items: center;
}

.authTitle{
	margin-right: 20px;
	padding: 5px 10px;
	color: black;
	font-size: 15px;
	border: 2px solid red;
	border-radius: 20px;
}

.userName{
	font-weight: 800;
	text-transform: uppercase;
}

.navButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 92px;
	height: 42px;
	border-radius: 5px;
	border: red;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #3f51b5;
	color: white;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
		0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}